@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}

<h1>My Books</h1>

<table>
    <thead>
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td class="col-2">
                    @if (!String.IsNullOrEmpty(book.imgUrl))
                    {
                        <img class="img-fluid img-thumbnail" src="@book.imgUrl" />
                    } 
                </td>
                <td class="col-3">@book.title</td>
                <td class="col-3">@book.author</td>
                <td class="col-2">
                    @{int i=0;}
                    @while(i<@book.rating)
                    {
                        <i class="bi bi-star-fill" onclick="updateBook('@book.ISBN',@i)"></i>
                        i++;
                    }
                    @while(i<5)
                    {
                        <i class="bi bi-star" onclick="updateBook('@book.ISBN',@i)"></i>
                        i++;
                    } 
                    <input type="hidden" value="@book.rating" name="rating"/>
                </td>
                <td class="col-2"><i class="bi bi-bookmark-x-fill" onclick="deleteBook('@book.ISBN')"></i></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(()=>{

            $(".bi-star").on('mouseover', (e) => {
                e.target.setAttribute('class', 'bi bi-star-fill');
                $(e.target).prevAll().removeClass("bi-star");
                $(e.target).prevAll().addClass("bi-star-fill");
                $(e.target).nextAll().removeClass("bi-star-fill");
                $(e.target).nextAll().addClass("bi-star");
            });
            $(".bi-star").on('mouseout', (e) => {
                reset(e);
            });
            $(".bi-star-fill").on('mouseover', (e) => {
                e.target.setAttribute('class', 'bi bi-star-fill');
                $(e.target).prevAll().removeClass("bi-star");
                $(e.target).prevAll().addClass("bi-star-fill");
                $(e.target).nextAll().removeClass("bi-star-fill");
                $(e.target).nextAll().addClass("bi-star");
            });
            $(".bi-star-fill").on('mouseout', (e) => {
                reset(e);
            });
        });

        function updateBook(ISBN, rating)
        {
            const book=
            {
                ISBN:ISBN,
                rating:rating+1
            };

            $.ajax({
                url: "/Book/Update",
                method: 'GET',
                dataType: 'text',
                success: (res) => {
                    location.reload();
                    //to do - add feedback
                },
                data: book,
                error:(xhr,status,err)=>{
                    alert(status);
                }
            });
        }
        function deleteBook(ISBN) {
            const book =
            {
                ISBN: ISBN
            };

            $.ajax({
                url: "/Book/Delete",
                method: 'GET',
                dataType: 'text',
                success: (res) => {
                    location.reload();
                    //to do - add feedback
                },
                data: book,
                error: (xhr, status, err) => {
                    alert(status);
                }
            });
        }


        function reset(e)
        {
            let rating=$.map($(e.target).nextAll("input"),(e)=>{return e;});
            let stars=$.map($(rating[0]).siblings(),(sib)=>{return sib;});
            stars.forEach((star,i)=>{
                $(star).removeClass("bi-star bi-star-fill");
                if(i<=rating[0].value-1)
                {
                    star.className="bi bi-star-fill";
                }
                else {
                    star.className="bi bi-star";
                }
            });
        }

    </script>
}